{
  margin: 0;
  padding: 0;
}
  header
  {
    background-image: url(africa.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
.black{
  background-color: black;

}

.box{
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px 2px red; 
}
