{
  margin: 0;
  padding: 0;
}
  header
  {
    background-image: url(africa.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
.yellow{
  background-color: black;

}

.box{
  width: 1200px;
  height: 400px;
  padding: 20px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px 4px red;
  border: 3px solid purple;
  float: centre;
  font-style: oblique;
  font-weight: bold;
}
.test-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;


}
img {
  float: left;
  width: 1200px;
  height: 400px;
}
.text1{
  float: left;


}
.entire{
  color: white;
}
.h1{
  align-content: center;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
}
.h2{
  align-content: center;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}
.titleid{
  color: black;
  background-color: orange;
  background-blend-mode: lighten;
  margin-bottom: 0px;
}
.titleid2{
  color: black;
  background-color: orange;
  background-blend-mode: lighten;
  margin-top: 0px;
  font-style: italic;
}
ul{
  text-align: center;
  text-decoration-line: underline;
  text-emphasis-color: red;
  font-size: 30px;
  font-size-adjust: auto;
  margin-bottom: 4px;
}
.navsat{
  text-align: center;
  font-weight: bold;
  color: white;

}
